{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %} Ginzburg.io {% endblock %}</title>
</head>

<body class="body " leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" dir="ltr" bgcolor="#FFFFFF">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="body-container">
    <tr>
        <td align="center">
            <table align="center" border="0" class="email-container" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center">

<!-- Page header begin -->
<table width="640" align="center" cellspacing="0" cellpadding="0" border="0" class="content-table preheader-table">
    <tr>
        <td class="header">
            <a href="#">ginzburg.io</a>
        </td>
        <td class="header h-link">
            <a href="#">Категории</a>&nbsp;::&nbsp;<a href="#">Теги</a>
        </td>
    </tr>
</table>
<!-- Page header end -->

 <!-- Content starts here -->
 {% block content %}
     No content
 {% endblock %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </table>

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}

{% block extrajs %} {% endblock %}

</body>
</html>