{% extends 'blog/base_blog.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

<!--Post header begin -->
<table align="center" border="0" bgcolor="#FFFFFF" class="content-table header-table" cellspacing="0" cellpadding="0" width="640">
    <tr>
        <td class="issue-container">
            <center><h1><span>{{ post.title }}</span></h1></center>
            <center class="created">{{ post.created }}</center>
        </td>
    </tr>
</table>
<!--Post header end -->

<!-- Main content begin -->

{% csrf_token %}
<p align="left" class="content-container">Views: {{ post.views }}</p>
<p align="left" class="content-container">
    Likes: <span id="likes_count">{{ post.likes.count }}</span>
    <a href="#" class="{% if liked %}btn btn-dark btn-sm{% else %}btn btn-outline-dark btn-sm{% endif %}" id="like" data-catid="{{ post.id }}">👍🏻</a>
</p>

<table align="center" border="0" bgcolor="#FFFFFF" class="content-table" cellspacing="0" cellpadding="0" width="640">
    <tr>
        <td align="left" class="content-container">
            {{ post.content|safe }}
        </td>
    </tr>
    <tr>
        <td align="left" class="content-container tags">
            Категория: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a><br>
            Теги: {% for tag in post.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag }} </a>{% endfor %}
        </td>

    </tr>
</table>
<!-- Main content end -->


 <!--Disqus comments begin-->
<table align="center" border="0" bgcolor="#FFFFFF" class="content-table" cellspacing="0" cellpadding="0" width="640">
    <tr>
        <td align="left" class="content-container">
            {% include 'blog/includes/disqus.html' %}
        </td>
    </tr>
</table>

{% endblock %}